.sidenav-container {
  height: 100%;

  .material-icons {
    font-size:35px;
    color:white;
  }
  .sidenav {
    max-width: 3%;
    width:100%;
    background-color:#3700B3;
    .sidenav .mat-toolbar {
      background: inherit;
    }

    .mat-nav-list {
      background:inherit;
    }

    .mat-toolbar {
      background-color:#3700B3;
    }

  }

  .mat-sidenav-content.dashboard-container {
      max-height: 95%;
      max-width: 100%;
    .mat-toolbar.mat-primary {
      width:100%;
      position: sticky;
      top: 0;
      z-index: 5;
      background-color:#3700B3;
    }
  }
}




